beautifulsoup4==4.12.2 ; python_version >= "3.8" and python_version < "4.0"
greenlet==2.0.2 ; python_version >= "3.8" and platform_machine == "aarch64" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "ppc64le" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "x86_64" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "amd64" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "AMD64" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "win32" and python_version < "4.0" or python_version >= "3.8" and platform_machine == "WIN32" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.8" and python_version < "4.0"
pyasn1==0.5.0 ; python_version >= "3.8" and python_version < "4"
rsa==4.9 ; python_version >= "3.8" and python_version < "4"
soupsieve==2.4.1 ; python_version >= "3.8" and python_version < "4.0"
sqlalchemy==2.0.10 ; python_version >= "3.8" and python_version < "4.0"
telethon==1.28.5 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.5.0 ; python_version >= "3.8" and python_version < "4.0"
